.js
-min.js

debug
node_modules
.sass-cache
npm-debug.log

_SpecRunner.html
test_results
coverage

docs

*.backup
scratch

uploads

test/db/*.json
test/db/snapshots

static/js/main.js
static/js/main.js.map
static/js/main.src.coffee
static/css/*

*.pyc
